:root {
    --menu-width: 300px;
    --menu-height: 400px;
}

*,*:before,*::after{
    margin: 10px;
    padding: 0;
}


canvas {
    border: 2px solid black;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{

    padding: 10px;
}